celery>=3.1.18
redis>=2.10.3
pip>=9.0.1
Django>=2.0.2
Pillow
argparse>=1.2.1
django-bootstrap3>=6.2.2
PyPDF2
psycopg2
psycopg2-binary
django-hijack
django-hijack-admin
unidecode
django-extensions
jupyter
django-webshell
django-debug-toolbar

