packages:
  yum:
    python-pip: []
    git: []
    libjpeg-devel: []
    zlib-devel: []
    gcc: []
    postgresql-devel: []
    postgresql94-server: []    
    ghostscript: []
#easy_install:
#    Pillow: []
commands:
  00pip:
    command: sudo yum install python-pip -y
  01libjpegdevel:
    command: sudo yum install libjpeg-devel -y
  02zlib:
    command: sudo yum install zlib-devel -y
  03Pillow:
    command: sudo yum install Pillow -y
  04psycopg2:
    command: sudo yum install python-psycopg2 -y
