packages:
  yum:
#    python-pip: []
    git: []
    libjpeg-turbo-devel: []
    zlib-devel: []
    gcc: []
    postgresql94-plpython26: []
    postgresql94-plpython27: []
    postgresql94-contrib: []
    postgresql94-devel: []
    postgresql94-libs: []
    postgresql94-server: []    
    ghostscript: []
easy_install:
    Pillow: []
commands:
  00pip:
    command: sudo yum install python-pip -y
#  10postgresql-devel:
#    command: sudo yum install postgresql-devel -y
#  20libjpegdevel:
#    command: sudo yum install libjpeg-devel -y
#  30zlib:
#    command: sudo yum install zlib-devel -y
#  40Pillow:
#    command: sudo yum install Pillow -y
  50psycopg2:
    command: sudo yum install python-psycopg2 -y
