packages:
  yum:
    git: []
    libjpeg-devel: []
    zlib-devel: []
    gcc: []
    postgresql-devel: []
    postgresql94-server: []    
    ghostscript: []
#easy_install:
#    Pillow: []
commands:
  01libjpegdevel:
    command: sudo yum install libjpeg-devel -y
  02zlib:
    command: sudo yum install zlib-devel -y
  02Pillow:
    command: sudo yum install Pillow -y
