body {
	padding-top: 60px;
}

.row_space {
    padding: 20px 0;
}

.row_space_top {
    padding-top: 20px;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #428bca}


.docs-pictures {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*.docs-pictures > li {
  float: left;
  width: 33.3%;
  height: 33.3%;
  margin: 0 -1px -1px 0;
  border: 1px solid transparent;
  overflow: hidden;
}*/

/*.docs-pictures > li > img {
  width: 100%;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}*/